#pozadina{
    -fx-background-image: url("/img/pozadinaLogIn.jpg");
}
#addRider{
    -fx-graphic: url("/img/Add-icon.png");
}
#editRider{
    -fx-graphic: url("/img/edit-icon.png");
}
#deleteRider{
    -fx-graphic: url("/img/close-icon.png");
}